<ion-view title="Timelines">
<ion-nav-buttons side = "left">
    <button class = "button" ng-click="uploadPhoto()">
        <i class = "icon ion-android-camera"></i></button>
    </ion-nav-buttons>
    <ion-nav-buttons side = "right">
    <button class = "button">
        <i class = "icon ion-ios-paperplane"></i></button>
    </ion-nav-buttons>

    <ion-content>


        <div class="list card">

            <div class="item item-avatar">

                <img src="/img/ionic.png">

                <h2>Jaehyeok, Lee</h2>

                <p>08, 02, 2017</p>



            </div>
             </div>
                

            <div class="item item-body">

                <img class="full-image" src="/img/ionic.png">
                        <div class="item tabs tabs-secondary tabs-icon-left">

                <a class="tab-item" href="#">

                    <i class="icon ion-heart"></i> Like

                </a>

                <a class="tab-item" href="#">

                    <i class="icon ion-chatbox"></i> Comment

                </a>

                <a class="tab-item" href="#">

                    <i class="icon ion-share"></i> Share


<p>

                    <a class="subdued">1 Like</a>

                    <a class="subdued">5 Comments</a>

                </p>
                </a>


                
            </div>



        </div>

 

    </ion-content>

</ion-view>